{% extends 'base.html' %}
{% load home_tags %}
{% load static %}
{% block content %}




<!--장소 목록-->
<div class="place">
    <div id ="box" class="row" style="margin-bottom:0px; display: flex; width: 100vw;" >
       <div class="button_building col s3" >
           <form action="{% url 'first' %}" method='get'>
               <button type="submit" class="place_button" name="place" value="hak">학관</button>
           </form>
          <form action="{% url 'first' %}" method='get'>
               <button type="submit" class="place_button" name="place" value="hoo">후윳길</button>
           </form>
           <form action="{% url 'first' %}" method='get'>
               <button type="submit" class="place_button" name="place" value="hakm_base">학문관지하</button>
           </form>
           <form action="{% url 'first' %}" method='get'>
               <button type="submit" class="place_button" name="place" value="hakm_forest">학문관숲길</button>
           </form>
           <form action="{% url 'first' %}" method='get'>
               <button type="submit" class="place_button" name="place" value="posco">포스코관</button>
           </form>
           <form action="{% url 'first' %}" method='get'>
               <button type="submit" class="place_button" name="place" value="gate">정문</button>
           </form>
           <form action="{% url 'first' %}" method='get' style="border-bottom: none;">
               <button type="submit" class="place_button" name="place" value="saeng">생활관</button>
           </form>
       </div>
       <div class="place_img col s9" >
           <div class="line_height">
             <div class="map_image">
               <img src="../../static/img/{{place}}.jpg", class= "style_image">
               </div>
            </div>
       </div>
    </div>
    </div>
    <hr>


    <!-- 이벤트 페이지 -->
    <div class="event_list">
     <!-- 장소-메뉴 가격 페이지 -->
         <div class="place_menu_list">
           {% for booth in booths%}
           <!--위치장소부스 출력-->
                <div class="number_name">
                 <div class="booth_num_name">
                    <p> <span class="booth_num" style="font-size:2.5em; color:white;">{{booth.booth_num}}번</span></p>
                    <!-- 부스이름 -->
                    <h4 style = "color: black">{{booth.name}}</h4><br>
                </div>
                </div>
                <!-- array - 음식-가격 정보부분. 보더 솔리드간격 줄여야 함 -->
            <div class="price_tag">
                    {% if booth.sold_out == 1 %}
                <div class="whole_collection">
                    <li class ="collection" style="color: #f25e0e; margin: 0; padding: 0; border: none;">
                       <p3> sold out </p>
                    </li>
                </div>
                    {% else %}
                 <div class="whole_collection">
                    <li class="collection" style="margin: 0; padding: 0; border: none;">
                       {% get_menus booth as menus %}
                       {% for menu in menus %}
                       <p style="margin: 0; font-size:1.3em;"> {{menu}}</p>
                    </li>
                </div>
                {% endfor %}
            {% endif%}
             <hr>
            </div>
           {% endfor %}
       </div>
    </div>
</div>
</div>

       <div class="for_admin">
         <div>
           <form action="{% url 'sold_out' %}" method="get">
             <input type="number" placeholder = "SOLD OUT PASSWORD" value="password" name="password" style="width:80%; float:left;">
             <input type="submit" value="sold_out" name="sold_out" style="border:none; background:none; color:gray; padding-top:15px;">
           </form>

         </div>
       </div>

{% endblock %}

   </div>
   </div>
