{% extends 'base.html' %}
{% load home_tags %}
{% load static %}
{% block content %}




<!--장소 목록-->
<div class="place">

       <div class="place_img col s9" >
           <div class="line_height">
             <div class="map_image">
               <img src="../../static/img/night.jpg">
               </div>
            </div>
       </div>

       <!--위치장소부스 출력-->
       <div>
           {% for booth in booths%}
                <div>
                    <p>{{booth.booth_num}}번 부스</p>
                    <p>이름 : {{booth.name}}</p>
                    {% if booth.sold_out == 1 %}
                       <p>sold out</p>
                    {% else %}
                       메뉴 :
                       {% get_menus booth as menus %}
                       {% for menu in menus %}
                       <p>{{menu}}</p>
                       {% endfor %}
                    {% endif%}
                    <hr>
                </div>
           {% endfor %}
       </div>

       <div class="for_admin">
         <div>
           <form action="{% url 'sold_out' %}" method="get">
             <input type="number" placeholder = "SOLD OUT PASSWORD" value="password" name="password">
             <input type="submit" value="sold_out" name="sold_out">
           </form>

         </div>
       </div>

{% endblock %}

   </div>
   </div>
