.search_result_p{
    margin-top: 0%;
    margin-left: 8%;
    font-size: 2rem;
    color: white;
    text-decoration:none;
    text-align: left;
}

.place_menu_lists{
    font-size:1rem;
    border-width: 4px;
    border-color:#1AC9B9;
    border-style: solid;
    margin: 10px 14%;
    text-align: left;
    background-color: white;
    color: black;
    padding: 5px 3px 0px 30px;
    border-radius: 25px;
    width:80%
    text-decoration: none;
}

.place_menu_lists:hover{
    background:#1AC9B9;
    opacity:0.5;
}

.search_result {
  text-align:center;
}
