{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Slab" rel="stylesheet">
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- Compiled and minified CSS materialize css cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
   
  <!--fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
 <!-- cdn 끝 -->    
            


        <title>Episode, Ewha</title>
    </head>
    <body> <!--body...임시로 해놓은 거-->

<!-- header -->
<div class="row" style="margin-bottom:5vh;">
    <div class="home">
       <div class="header">
           <div class="header_img">
           </div>
           <a href="/" id = "title_font">
               Episode, Ewha
               </a>
           <div class="header_img">
           </div>
       </div>
     </div>

</div>
<!-- header 끝 -->

        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


        <!--검색-->
        <div class="search_box row">
            <form action="{% url 'search' %}" method="get" style="display: flex; width:inherit; height:inherit;">
                <select name="kind" style= "width:15%; height:auto; padding:10px; display:inherit;">
                    <option value="name">부스명</option>
                    <option value="detail">메뉴</option>
                </select>
                <input type = "text" name = "search" style="width:75%; height:100%; background-color:transparent; border:none;" ></input>
                <input TYPE="submit" value = "검색" src="{% static 'img/search.png' %}" id=search_btn style="color:#1fc8a9;""></input>
                <i class="searchh fas fa-search fa-2x"></i>
              </form>
        </div>


    <div class="gnb">
        <nav id="re_navbar">
            <div class="button_date">

                    <form action="/home/first" method='get' class="nav_btn">
                        <button class="gnb_but" type="submit">5/15(화)</button>
                    </form>
                    <form action="/home/second" method='get'class="nav_btn">
                        <button class="gnb_but" type="submit">5/16(수)</button>
                    </form>
                    <form action="/home/third" method='get' class="nav_btn">
                        <button class="gnb_but" type="submit">5/17(목)</button>
                    </form>
                    <form action="/home/fourth" method='get' class="nav_btn">
                        <button class="gnb_but" type="submit">야시장</button>
                    </form>
                    <form action="{% url 'epi_home' %}" method='get' class="nav_btn">
                        <button class="gnb_but" type="submit">Episode</button>
                    </form>
                    <form action="{% url 'event' %}" method='get' class="nav_btn">
                        <button class="gnb_but" type="submit">이벤트</button>
                    </form>
                </div>
            </nav>
        </div>

        <div>
          {% block content %}
          {% endblock %}
        </div>

    </div>




        <footer>
          <p>Copyright &copy; Ewha-Likelion 7th, 2019</p>
        </footer>

        <div class="fixed-action-btn">
                <a class="btn-floating btn-large red" href="#top">
                  <i class="large material-icons"  style="background-color:#1fc8a9; font-family:'Noto Sans KR'; text-align:center; font-size:1.2em; font-weight:bold;">top</i>
                </a>
              </div>
    </body>
</html>
