<div class="container">
    <h1>{{ board.title }}</h1> -->
    <!-- <p>{{ board.pub_date }}</p> -->
    <!-- <p>{{ board.body }}</p> -->
    
    <br>
    <hr>
    <!-- 댓글쓰는곳 -->
    <form action="{% url 'comment_write' board_id=board.id %}" method="POST">
        {% csrf_token %}
        대기줄이 혼잡한가요?
        <select name="crowded">
                <option value="0" selected>모름</option>
                <option value="1">매우혼잡</option>  
                <option value="2">혼잡</option>
                <option value="3">보통</option>
        </select>
        <br>
        <input type="text" name="content" placeholder="">
        <input type="submit" value="입력" />
    </form>
    <hr>

    <br>
    <!-- 댓글목록 -->
    {% for comment in board.comments.all %}
        <div class="comment">
        {% if comment.dropdown == "0" %}
            <span style="width:50px;">모름</span>
        {% elif comment.dropdown == "1" %}
            <span style="background-color:red; width:50px;">매우혼잡</span>
        {% elif comment.dropdown == "2" %}
            <span style="background-color:#F6BB43; width:50px;">혼잡</span> 
        {% else %}
            <span style="background-color:green; width:50px;">보통</span>
        {% endif %}
        | {{ comment.comment_contents }}
        </div>

    {% empty %}
        <p>아직 댓글이 없습니다.</p>
    {% endfor %}
        <br>
    
    <a href="{% url 'home' %}">돌아가기</a>
</div>