{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <br><br><br>
    <h4 >{{ board.title }}</h4>
    <!-- <p>{{ board.pub_date }}</p> -->
    <!-- <p>{{ board.body }}</p> -->

    <br>
    <hr>
    <!-- 댓글쓰는곳 -->
    <form action="{% url 'comment_write' board_id=board.id %}" method="POST" style="border-color:#1fc8a9">
        {% csrf_token %}
        <h5>현재 부스 상황과 대기줄은 어떠한가요?</h5><br>
        <select name="crowded" style="display:inherit; color:#1fc8a9; text-align:center;">
                <option value="0" selected>모름</option>
                <option value="1">매우혼잡</option>
                <option value="2">혼잡</option>
                <option value="3">보통</option>
        </select>
        <br>
        <input type="text" name="content"  placeholder="벗들의 의견을 자유롭게 나눠주세요!" style="border-color:#1fc8a9; color:#1fc8a9;" >
        <input type="submit" value="상황 보고!" id="search_btn" style="color:#1fc8a9; border:none;"/>
    </form>
    <br><hr>

    <br>
    <!-- 댓글목록 -->
    {% for comment in board.comments.all %}
        <div class="comment">
        {% if comment.dropdown == "0" %}
            <span style="background-color: #ABBFDA; width:50px;">모름</span>
        {% elif comment.dropdown == "1" %}
            <span style="background-color:#CF8FC5; width:50px;">매우혼잡</span>
        {% elif comment.dropdown == "2" %}
            <span style="background-color:#F9CA68; width:50px;">혼잡</span>
        {% else %}
            <span style="background-color:#8FC595; width:50px;">보통</span>
        {% endif %}
        | {{ comment.comment_contents }}  -----  <span class="comment_time">{{comment.comment_date.month}}/{{comment.comment_date.day}} {{comment.comment_date.time}}</span>
        </div>

    {% empty %}
        <p>아직 댓글이 없습니다.</p>
    {% endfor %}
        <br>

    <a href="{% url 'epi_home' %}">돌아가기</a>
</div>

{% endblock %}
