{% extends 'base.html' %}
{% load static %}
{% block content %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <body>

          <div class="container">
              <div class="row">
                  <div class="col-4">
                      5/14
                  </div>
                  <div class="col-4">
                      5/15
                  </div>
                  <div class="col-4">
                      5/16
                  </div>
              </div>
              ㅤㅤㅤㅤㅤㅤㅤㅤㅤ
              <div class ="row row_cont">
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal2">
                    <p>PM 12:30</p>
                    <p>개막식</p>
                </a>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal3">
                    <p>AM 11:00</p>
                    <p>공포컨셉 방탈출</p>
                </a>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal4">
                    <p>PM 02:00</p>
                    <p>이화 짝짜꿍</p>
                </a>
              </div>


              <div class ="row row_cont">
                  <a class= "col m4 collection" data-toggle="modal" data-target="#modal5">
                    <p>PM 02:00</p>
                    <p>배꽃 마녀의 미스테리 상점</p>
                </a>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal6">
                    <p>PM 05:00</p>
                    <p>응답하라 1886</p>
                </a>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal12">
                    <p>PM 05:00</p>
                    <p>폐막식</p>
                </a>
                </div>


              <div class ="row row_cont">
                      <a class= "col m4 collection" data-toggle="modal" data-target="#modal7">
                    <p>PM 03:15</p>
                    <p>VIEWHALLOO 대동제 공연</p>
                </a>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal8">
                    <p>PM 07:00</p>
                    <p>본무대 초대가수 공연</p>
                </a>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal10">
                    <p>PM 06:00</p>
                    <p>사회대 야시장</p>
                </a>
                </div>


              <div class ="row row_cont">
                <div class= "col m4 collection">
                      <a class= "col m4 collection" data-toggle="modal" data-target="#modal11">
                    <p>PM 07:30</p>
                    <p>타악기 앙상블</p>
                </a>
                </div>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal9">
                    <p>PM 09:00 </p>
                    <p>영화제: 비긴어게인</p>
                </a>
                <a class= "col m4 collection" data-toggle="modal" data-target="#modal13">
                    <p>PM 11:00</p>
                    <p>사랑폄하론</p>
                </a>
              </div>


              <!--모달  -->
              <!-- <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>개막식</h4>
                    <img src="{% static '0514_01.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0514_01.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>


              <!-- <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>공포컨셉 방탈출</h4>
                    <img src="{% static '0515_01.jpg' %}" alt="">
                </div> -->

                <div class="modal fade bd-example-modal-lg" id="modal3" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0515_01.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                  </div>

              <!-- <div id="modal4" class="modal">
                <div class="modal-content">
                    <h4>이화 짝짜꿍</h4>
                    <img src="{% static '0516_01.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal4" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0516_01.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal5" class="modal">
                <div class="modal-content">
                    <h4>배꽃 마녀의 미스테리 상점</h4>
                    <img src="{% static '0514_02.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal5" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0514_02.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal6" class="modal">
                <div class="modal-content">
                    <h4>응답하라 1886</h4>
                    <img src="{% static '0515_02.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal6" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0515_02.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal7" class="modal">
                <div class="modal-content">
                    <h4>VIEWHALLOO 대동제 공연</h4>
                    <img src="{% static '0514_03.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>   -->

              <div class="modal fade bd-example-modal-lg" id="modal7" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0514_03.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal8" class="modal">
                <div class="modal-content">
                    <h4>본무대 초대가수 공연</h4>
                    <img src="{% static '0515_03.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal8" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                              <img src="{% static '0515_03.png' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal9" class="modal">
                <div class="modal-content">
                    <h4>영화제: 비긴어게인</h4>
                    <img src="{% static '0515_04.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal9" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0515_04.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal10" class="modal">
                <div class="modal-content">
                    <h4>사회대 야시장</h4>
                    <img src="{% static '0516_03.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal10" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0516_03.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal11" class="modal">
                <div class="modal-content">
                    <h4>타악기 앙상블</h4>
                    <img src="{% static '0514_04.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal11" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0514_04.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal12" class="modal">
                <div class="modal-content">
                    <h4>타악기 앙상블</h4>
                    <img src="{% static '0514_04.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal12" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0516_02.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

              <!-- <div id="modal13" class="modal">
                <div class="modal-content">
                    <h4>사랑폄하론</h4>
                    <img src="{% static '0516_04.jpg' %}" alt="">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div> -->

              <div class="modal fade bd-example-modal-lg" id="modal13" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                                  <img src="{% static '0516_04.jpg' %}" width="750px" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
              <!--모달 끝-->
              </div>
            </div>

</body>


{% endblock %}
