<div class ="container">
    <br>
    <div class= "row", style ="border: 1px solid white; padding:10px;">
    <div class ="row" id="date_event">
        <div class ="col m4">5 / 14</div>
        <div class ="col m4">5 / 15</div>
        <div class ="col m4">5 / 16</div>
    </div>
    ㅤㅤㅤㅤㅤㅤㅤㅤㅤ
    <div class ="row row_cont">
      <a class= "col m4 collection modal-trigger" href="#modal2">
          <p>PM 12:30</p>
          <p>개막식</p>
      </a>
      <a class= "col m4 collection modal-trigger" href="#modal3">
          <p>AM 11:00</p>
          <p>공포컨셉 방탈출</p>
      </a>
      <a class= "col m4 collection modal-trigger" href="#modal4">
          <p>PM 02:00</p>
          <p>이화 짝짜꿍</p>
      </a>
    </div>
  
    
    <div class ="row row_cont">
      <a class= "col m4 collection modal-trigger" href="#modal5">
          <p>PM 02:00</p>
          <p>배꽃 마녀의 미스테리 상점</p>
      </a>
      <a class= "col m4 collection modal-trigger" href="#modal6">
          <p>PM 05:00</p>
          <p>응답하라 1886</p>
      </a>
      <a class= "col m4 collection modal-trigger" href="#modal12">
          <p>PM 05:00</p>
          <p>폐막식</p>
      </a>   
      </div>
    </div>
    
    <div class ="row row_cont">
      <a class= "col m4 collection modal-trigger" href="#modal7">
          <p>PM 03:15</p>
          <p>VIEWHALLOO 대동제 공연</p>
      </a>
      <a class= "col m4 collection modal-trigger" href="#modal8">
          <p>PM 07:00</p>
          <p>본무대 초대가수 공연</p>
      </a>
      <a class= "col m4 collection modal-trigger" href="#modal10">
          <p>PM 06:00</p>
          <p>사회대 야시장</p>
      </a>
          
      </div>
    </div>
    
    <div class ="row row_cont">
      <div class= "col m4 collection">
      <a class= "col m4 collection modal-trigger" href="#modal11">
          <p>PM 07:30</p>
          <p>타악기 앙상블</p>
      </a>    
      </div>
      <a class= "col m4 collection modal-trigger" href="#modal9">
          <p>PM 09:00 </p>
          <p>영화제: 비긴어게인</p>
      </a>
      <a class= "col m4 collection modal-trigger" href="#modal13">
          <p>PM 11:00</p>
          <p>사랑폄하론</p>
      </a>
    </div>
      
      
    <!--모달  -->
    <div id="modal2" class="modal">
      <div class="modal-content">
          <h4>개막식</h4>
          <%=image_tag("portfolio/0514_01.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal3" class="modal">
      <div class="modal-content">
          <h4>공포컨셉 방탈출</h4>
          <%=image_tag("portfolio/0515_01.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal4" class="modal">
      <div class="modal-content">
          <h4>이화 짝짜꿍</h4>
          <%=image_tag("portfolio/0516_01.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal5" class="modal">
      <div class="modal-content">
          <h4>배꽃 마녀의 미스테리 상점</h4>
          <%=image_tag("portfolio/0514_02.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal6" class="modal">
      <div class="modal-content">
          <h4>응답하라 1886</h4>
          <%=image_tag("portfolio/0515_02.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal7" class="modal">
      <div class="modal-content">
          <h4>VIEWHALLOO 대동제 공연</h4>
          <%=image_tag("portfolio/0514_03.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>  
    <div id="modal8" class="modal">
      <div class="modal-content">
          <h4>본무대 초대가수 공연</h4>
          <%=image_tag("portfolio/0515_03.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal9" class="modal">
      <div class="modal-content">
          <h4>영화제: 비긴어게인</h4>
          <%=image_tag("portfolio/0515_04.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal10" class="modal">
      <div class="modal-content">
          <h4>사회대 야시장</h4>
          <%=image_tag("portfolio/0516_03.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal11" class="modal">
      <div class="modal-content">
          <h4>타악기 앙상블</h4>
          <%=image_tag("portfolio/0514_04.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal12" class="modal">
      <div class="modal-content">
          <h4>타악기 앙상블</h4>
          <%=image_tag("portfolio/0514_04.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="modal13" class="modal">
      <div class="modal-content">
          <h4>사랑폄하론</h4>
          <%=image_tag("portfolio/0516_04.jpg")%>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!--모달 끝-->
    </div>
  </div>
  
  
  
  
  